@using GunNGoneBetter_Models
@model MyModel

<h1>Delete MyModel</h1>

<form method="post" asp-action="DeletePost">

    <!-- Передача скрытых данных -->
    <input asp-for="Id" hidden/>

    <p>
        <label asp-for="Name"></label>
        <input disabled asp-for="Name" class="form-control" />
    </p>

    <p>
        <label asp-for="Number"></label>
        <input disabled asp-for="Number" class="form-control" />
    </p>

    <p>
        <input type="submit" class="btn btn-warning" value="Delete" />
        <a class="btn btn-primary" asp-controller="MyModel" asp-action="Index"> Back </a>
    </p>

</form>