@model GunNGoneBetter_Models.ViewModels.QueryViewModel

<form method="post">

    <input hidden asp-for="QueryHeader.Id"/>

    <a asp-action="Index" class="btn form-control btn-success">Back to queries</a>

    <h2>Information</h2>

    <table>
        <tr>
            <td>Name</td>
            <td><input asp-for="QueryHeader.FullName" type="text" class="form-control" /></td>
        </tr>

         <tr>
            <td>Phone</td>
            <td><input asp-for="QueryHeader.PhoneNumber" type="text" class="form-control" /></td>
        </tr>

         <tr>
            <td>Email</td>
            <td><input asp-for="QueryHeader.Email" type="text" class="form-control" /></td>
        </tr>

         <tr>
            <td>Query Date</td>
            <td><input value="@Model.QueryHeader.QueryTime.ToShortDateString()" type="text" class="form-control" readonly/></td>
        </tr>

         <tr>
            <td><input type="submit" value="Change" class="btn btn-info form-control"/></td>
            
            <td><input formaction="/Query/Delete" type="submit" value="Delete" class="btn btn-danger form-control"/></td>
        </tr>
    </table>

    <br/>

    <h2>Details</h2>

    @foreach(var item in Model.QueryDetail)
    {
        <h5>Product Name: @item.Product.Name</h5>
        <p>Price: @item.Product.Price $</p>
    }

</form>