@using GunNGoneBetter_Models
@model List<Product>

<h1>Shopping Cart</h1>
<p><a class="btn btn-primary" asp-controller="Home">Continue Shopping</a></p>

@if (Model.Count() > 0)
{
    <form method="post" asp-action="Summary">

        @{
            double totalPriceProducts = 0;
        }

        @for (int i = 0; i < Model.Count(); i++)
        {
            <input hidden asp-for="@Model[i].Id"/>
            <partial name="_ProductCartCard" model="Model[i]"/>
            totalPriceProducts += Model[i].TempCount * Model[i].Price;
        }

        @if (User.IsInRole(GunNGoneBetter_Utility.PathManager.AdminRole))
        {
            <h2>Total: @totalPriceProducts</h2>
        }

        @if (User.IsInRole(GunNGoneBetter_Utility.PathManager.AdminRole))
        {
            <input type="submit" value="Update Cart" class="btn btn-info"
                asp-action="Update" formmethod="post" name="Update"/>
        }

        <p>
            <button type="submit" class="btn btn-success">
                Continue
            </button>
        </p>
    </form>
}
else
{
    <p>Cart is empty</p>
}