@model GunNGoneBetter.Models.ViewModels.ProductUserViewModel

<h1> Summary </h1>


<form>

    <!-- User -->
    <p>
        <label>Name</label>
        <input type="text" asp-for="@Model.ApplicationUser.FullName" class="form-control" />
    </p>

    <p>
        <label>Email</label>
        <input type="text" asp-for="@Model.ApplicationUser.Email" class="form-control" />
    </p>

    <!-- Product -->

    @foreach (var item in Model.ProductList)
    {
        <p>
            Product Name : @item.Name
        </p>

        <p>
            Price : @item.Price
        </p>
    }


    <p>
        <button type="submit" class="btn btn-success form-control">Submit</button>
    </p>
    
</form>